.forms {
  background-color: aquamarine;
  display: flex;
 flex-wrap: wrap;
}
.signin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.signup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.links {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
ul {
  list-style: none;
  
}
li {
  padding: 5px;
}
main {
  background-color: cadetblue;
  min-height: 100vh;
}
header {
 

  display: flex;
  padding: 20px;
  background-color: violet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;

}
.list {

background-color: aquamarine;
width: 400px;
padding: 20px;

}


a {
  text-decoration: none;
  cursor: pointer;
  color: purple;
}

a:hover{
  color: greenyellow;

}